@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  border:0;
  outline:0;
  list-style: none !important;
  box-sizing: border-box;
  text-decoration: none !important;
}
ul{
  margin-top: 0rem !important;
}

:root {
  --color-bg: #000000;
  --color-highlight: #F7B5CD;
  --color-green: #10B981;
  --color-red: #F54748;
  --color-white:#fff;
  --color-black: #1D1D1D;
  --color-gray: #555555;
  
  --transition: all 400ms ease;

}